---
import Container from "../../components/Container.astro";
import Default from "../../layouts/Default.astro";
import { db } from "../../db";
import {
  productions,
  projects,
  areas,
  researchers,
  researchersToProductions,
} from "../../db/schema";
import { eq } from "drizzle-orm";

const { id } = Astro.params;
const idAsInt = parseInt(id as string);

const data = await db
  .select({
    production: {
      id: productions.id,
      title: productions.title,
      pubDate: productions.pubDate,
      links: productions.links,
    },
    project: {
      title: projects.title,
    },
    area: {
      name: areas.name,
    }
  })
  .from(productions)
  .leftJoin(projects, eq(productions.projectId, projects.id))
  .leftJoin(areas, eq(productions.areaId, areas.id))
  .leftJoin(
    researchersToProductions,
    eq(researchersToProductions.productionId, productions.id)
  )
  .leftJoin(
    researchers,
    eq(researchersToProductions.researcherId, researchers.id)
  ).where(eq(productions.id, idAsInt));

!data && (Astro.response.status = 404);

const result = data[0];
---

<Default>
  <main>
    <Container class="py-6">
      <div class="bg-white shadow-md rounded-lg p-6 mb-4">
        <h3 class="text-xl font-semibold mb-2">{result.production.title}</h3>
        <div class="text-sm text-gray-600 mb-2">
          <strong>Projeto:</strong>
          {result?.project?.title}
        </div>
        <div class="text-sm text-gray-600 mb-2">
          <strong>Areas:</strong>
          {result?.area?.name}
        </div>
        <!-- <div class="text-sm text-gray-600 mb-2">
          <strong>Pesquisadores:</strong>
          {
            result?.researchers?.map((researcher : any) => (
              <span>{researcher.name}</span>
            ))
          }
        </div> -->
        <div class="text-sm text-gray-600 mb-2">
          <strong>Data de publicação:</strong>
          {result?.production?.pubDate}
        </div>

        <div class="text-sm text-gray-600 mb-2">
          <strong>Links:</strong>
          {result?.production?.links}
        </div>
      </div>
    </Container>
  </main>
</Default>
