---
import Button from "../../components/Button.astro";
import Container from "../../components/Container.astro";
import Default from "../../layouts/Default.astro";
import Select from "../../components/Select.astro";
import { db } from "../../db";
import { formatDate } from "../../lib/dateFormatter";
import { getAreasFlat } from "../../models/area";
import { getProductions, type ProductionType } from "../../models/production";

const method = Astro.request.method;
const query = Astro.url.searchParams;

const productions =
  method === "GET"
    ? await getProductions(db, {
        q: query.get("q") || undefined,
        idArea: query.get("area") ? Number(query.get("area")) : undefined,
        idCreator: query.get("creator")
          ? Number(query.get("creator"))
          : undefined,
        type: (query.get("type") as ProductionType) || undefined,
      })
    : undefined;

const areasList = await getAreasFlat(db);
---

<Default title="Produções">
  <main>
    <Container class="py-6">
      <div class="flex justify-between">
        <h2 class="text-2xl font-bold">Produções</h2>
        <div class="flex items-center">
          <a href="/producoes/criar" class="group">
            <Button><span class="text-xl leading-none">+</span>Criar</Button>
          </a>
        </div>
      </div>
    </Container>
    <Container class="py-6">
      <div class="flex">
        <input
          type="text"
          id="search-input"
          class="w-72 p-2 border rounded"
          placeholder="Pesquise uma produção por título..."
        />
        <Select id="selector" name="area" class="w-28 ml-4">
          <option value="">Todas</option>
          {
            areasList.map((area) => (
              <option value={area.id}>{area.name}</option>
            ))
          }
        </Select>
      </div>
    </Container>
    <Container class="flex flex-col items-center justify-center">
      <ul class="w-full max-w-2xl space-y-4">
        {
          productions && productions.length > 0 ? (
            productions.map((production) => (
              <div class="relative">
                <a
                  class="bg-white block shadow-md rounded-lg p-6 production-item pb-16"
                  href={`/producoes/${production.id}`}
                >
                  <h3 class="text-xl font-semibold">{production.title}</h3>
                  <h3 class="text-l font-normal">{production.project.title}</h3>
                  <h3 class="text-l mt-3">{production.area.name}</h3>
                  <div class="flex text-sm font-bold text-gray-600 justify-end">
                    {formatDate(production.pubDate)}
                  </div>
                </a>
                <div class="absolute flex justify-end space-x-2 bottom-4 right-4">
                  <a
                    class="group block"
                    href={`/projetos/${production.id}/edit`}
                  >
                    <Button variant="outline">Editar</Button>
                  </a>
                  <a
                    class="group block"
                    href={`/projetos/${production.id}/delete`}
                  >
                    <Button variant="destructive">Deletar</Button>
                  </a>
                </div>
              </div>
            ))
          ) : (
            <p>Nenhuma produção encontrada.</p>
          )
        }
      </ul>
    </Container>
  </main>
</Default>
