---
import Container from "../../components/Container.astro";
import Default from "../../layouts/Default.astro";
import { db } from "../../db";
import { projects, researchers, productions, productionsRelations } from "../../db/schema";
import { eq } from "drizzle-orm";
import { getProjectStatus } from "../../lib/dateFormater";

const { id } = Astro.params;

const idAsInt = parseInt(id as string);
const data = await db
  .select({
    project: {
      id: projects.id,
      title: projects.title,
      startDate: projects.startDate,
      endDate: projects.endDate,
      description: projects.description,
    },
    creator: {
      name: researchers.name,
    },
  })
  .from(projects)
  .where(eq(projects.id, idAsInt))
  .leftJoin(researchers, eq(researchers.id, projects.creatorId));

  const dataProductions = await db
  .select({
    production: {
      id: productions.id,
      name: productions.title,
    },
  })
  .from(productions)
  .where(eq(productions.projectId, idAsInt));

!data[0] && (Astro.response.status = 404);

const result = data[0];
---

<Default>
  <main>
    <Container class="py-6">
      <div
        class="rounded overflow-hidden shadow-lg bg-white border border-gray-200 hover:shadow-xl transition-shadow duration-300"
      >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{result.project.title}</div>
          <p class="text-gray-700 text-base mb-4">
            <strong>ID:</strong>
            {result.project.id}
          </p>
          <p class="text-gray-700 text-base mb-4">
            <strong>Criador:</strong>
            {result?.creator?.name}
          </p>
          <p class="text-gray-700 text-base mb-4">
            <strong>Data de inicio:</strong>
            {result.project.startDate}
          </p>
          <p class="text-gray-700 text-base mb-4">
            <strong>Data de termino:</strong>
            {result.project.endDate}
          </p>
          <p class="text-gray-700 text-base mb-4">
            <strong>Descrição:</strong>
            {result.project.description}
          </p>
          <p class="text-gray-700 text-base mb-4">
            <strong>Status:</strong>
            {getProjectStatus(result.project.endDate as string)}
          </p>

          <h3 class="text-xl font-semibold mt-6 mb-2">Produções</h3>
          {
            dataProductions.map((data) => (
              <div class="text-sm text-gray-600 mb-2 font-bold">
                {data?.production.name}
              </div>
            ))
          }
        </div>
      </div>
    </Container>
  </main>
</Default>
