---
import Button from "../../components/Button.astro";
import Container from "../../components/Container.astro";
import Default from "../../layouts/Default.astro";
import Select from "../../components/Select.astro";
import { db } from "../../db";
import { getProjectStatus, formatDate } from "../../lib/dateFormatter";
import Input from "../../components/Input.astro";
import { queryNumber, queryString } from "../../lib/query";
import { getProjects } from "../../models/project";
import { getResearcherByToken, getResearchers } from "../../models/researcher";

const q = Astro.url.searchParams;

const researchers = await getResearchers(db, {});

const projects = await getProjects(db, {
  q: queryString(q, "q"),
  idCollaborator: queryNumber(q, "pesquisador"),
  status: queryString(q, "status") as "Concluído" | "Em andamento" | undefined,
});

const token = Astro.cookies.get("token")?.value;
let user: Awaited<ReturnType<typeof getResearcherByToken>> | undefined =
  undefined;
if (token) {
  user = await getResearcherByToken(db, token);
}
---

<Default title="Projetos">
  <main>
    <Container class="py-6">
      <div class="flex justify-between h-[40px]">
        <h2 class="text-2xl font-bold">Projetos</h2>
        {
          user?.id && (
            <div class="flex items-center">
              <a href="/projetos/criar" class="group">
                <Button>
                  <span class="text-xl leading-none">+</span>Criar
                </Button>
              </a>
            </div>
          )
        }
      </div>
      <h3 class="text-lg font-bold">Filtros</h3>
      <form
        hx-get="/projetos"
        hx-target="#results"
        hx-select="#results"
        hx-swap="outerHTML"
        hx-replace-url="true"
        class="flex pt-2 gap-2 max-w-none"
      >
        <Input
          type="text"
          name="q"
          placeholder="Título"
          value={queryString(q, "q")}
        />
        <Select name="pesquisador">
          <option value="">Selecione um pesquisador...</option>
          {
            researchers?.map((researcher) => (
              <option
                value={researcher.id}
                selected={queryNumber(q, "pesquisador") === researcher.id}
              >
                {researcher.name}
              </option>
            ))
          }
        </Select>
        <Select name="status">
          <option value="">Selecione um status...</option>
          <option
            value="Concluído"
            selected={queryString(q, "status") === "Concluído"}
          >
            Concluído
          </option>
          <option
            value="Em andamento"
            selected={queryString(q, "status") === "Em andamento"}
          >
            Em andamento
          </option>
        </Select>
        <button type="submit" class="group block">
          <Button size="sm" variant="outline">Buscar</Button>
        </button>
      </form>
    </Container>
    <Container id="results" class="flex flex-col items-center justify-center">
      <ul class="w-full max-w-2xl">
        {
          projects.map((project) => (
            <li class="relative">
              <a
                class="bg-white border border-gray-200 shadow-md rounded-lg block p-6 mb-4 reseacher-item"
                href={`/projetos/${project.id}`}
              >
                <h3 class="text-xl font-semibold">{project.title}</h3>
                <p class="mb-4 text-m font-semibold text-gray-600">
                  {formatDate(project.startDate)}
                  {project.endDate ? ` - ${formatDate(project.endDate)}` : ""}
                  <span class="mx-2">{"|"}</span>
                  <span
                    class={`text-m font-semibold ${getProjectStatus(project.endDate) === "Concluído" ? "text-green-600" : "text-orange-600"}`}
                  >
                    {getProjectStatus(project.endDate)}
                  </span>
                </p>
                <p class="text-sm text-gray-500 mr-[200px]">
                  {project.description}
                </p>
              </a>
              {user?.id === project.creatorId && (
                <div class="absolute flex justify-end space-x-2 bottom-4 right-4">
                  <a
                    class="group block"
                    href={`/projetos/${project.id}/editar`}
                  >
                    <Button variant="outline">Editar</Button>
                  </a>
                  <a
                    class="group block"
                    href={`/projetos/${project.id}/deletar`}
                  >
                    <Button variant="destructive">Deletar</Button>
                  </a>
                </div>
              )}
            </li>
          ))
        }
        {
          projects.length === 0 && (
            <p class="text-center">Sua busca não retornou resultados!</p>
          )
        }
      </ul>
    </Container>
  </main>
</Default>

<style>
  form.htmx-request {
    @apply animate-pulse opacity-75 cursor-progress;
  }

  form.htmx-request * {
    @apply pointer-events-none;
  }
</style>
