---
import Button from "../../components/Button.astro";
import Container from "../../components/Container.astro";
import Default from "../../layouts/Default.astro";
import { db } from "../../db";
import { formatDate } from "../../lib/dateFormatter";
import Input from "../../components/Input.astro";
import Select from "../../components/Select.astro";
import { getAreasFlat } from "../../models/area";
import { getUniversities } from "../../models/university";
import { getResearchers } from "../../models/researcher";
import { queryNumber, queryString } from "../../lib/query";

const q = Astro.url.searchParams;

const researchers = await getResearchers(db, {
  q: queryString(q, "q"),
  area: queryNumber(q, "area"),
  university: queryNumber(q, "universidade"),
});

const universities = await getUniversities(db);
const areas = await getAreasFlat(db);
---

<Default title="Pesquisadores">
  <main>
    <Container class="py-6">
      <div class="flex justify-between">
        <h2 class="text-2xl font-bold">Pesquisadores</h2>
        <div class="flex items-center">
          <a href="/pesquisadores/criar" class="group">
            <Button><span class="text-xl leading-none">+</span>Criar</Button>
          </a>
        </div>
      </div>
      <h3 class="text-lg font-bold">Filtros</h3>
      <form
        hx-get="/pesquisadores"
        hx-target="#results"
        hx-select="#results"
        hx-swap="outerHTML"
        hx-replace-url="true"
        class="flex pt-2 gap-2 max-w-none"
      >
        <Input
          type="text"
          name="q"
          placeholder="Nome"
          value={queryString(q, "q")}
        />
        <Select name="universidade">
          <option value="">Selecione uma universidade...</option>
          {
            universities?.map((university) => (
              <option
                value={university.id}
                selected={queryNumber(q, "universidade") === university.id}
              >
                {university.name}
              </option>
            ))
          }
        </Select>
        <Select name="area">
          <option value="">Selecione uma área...</option>
          {
            areas?.map((area) => (
              <option
                value={area.id}
                selected={queryNumber(q, "area") === area.id}
              >
                {area.name}
              </option>
            ))
          }
        </Select>
        <button type="submit" class="group block">
          <Button size="sm" variant="outline">Buscar</Button>
        </button>
      </form>
    </Container>
    <Container id="results" class="flex flex-col items-center justify-center">
      <ul class="w-full max-w-2xl">
        {
          researchers?.map((data) => (
            <li class="relative">
              <a
                class="bg-white border border-gray-200 shadow-md rounded-lg block p-6 mb-4 reseacher-item"
                href={`/pesquisadores/${data.id}`}
              >
                <div class="flex gap-4">
                  <img
                    src={data.picture || "/pfp.png"}
                    alt={`Foto de perfil de ${data.name}`}
                    class="w-12 h-12 rounded-full object-cover"
                  />
                  <div>
                    <h3 class="text-xl font-semibold">{data.name}</h3>
                    <div class="flex mb-4">
                      <h3 class="text-m font-semibold text-gray-600">
                        {data.mainArea?.name}
                      </h3>
                      <div class="mx-2">{"|"}</div>
                      <h3 class="text-m font-semibold text-gray-600">
                        {data.university?.name}
                      </h3>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="text-sm text-gray-500">{data.contactInfo}</div>
                  <div class="text-sm text-gray-500">{data.email}</div>
                  <div class="text-sm text-gray-500">
                    {formatDate(data.dateOfBirth as string)}
                  </div>
                </div>
              </a>
              <div class="absolute flex justify-end space-x-2 bottom-4 right-4">
                <a
                  class="group block"
                  href={`/pesquisadores/${data.id}/editar`}
                >
                  <Button variant="outline">Editar</Button>
                </a>
                <a
                  class="group block"
                  href={`/pesquisadores/${data.id}/deletar`}
                >
                  <Button variant="destructive">Deletar</Button>
                </a>
              </div>
            </li>
          ))
        }
        {
          researchers.length === 0 && (
            <p class="text-center">Sua busca não retornou resultados!</p>
          )
        }
      </ul>
    </Container>
  </main>
</Default>

<style>
  form.htmx-request {
    @apply animate-pulse opacity-75 cursor-progress;
  }

  form.htmx-request * {
    @apply pointer-events-none;
  }
</style>
