---
import Button from "../../../components/Button.astro";
import Container from "../../../components/Container.astro";
import Input from "../../../components/Input.astro";
import Labelled from "../../../components/Labelled.astro";
import Link from "../../../components/Link.astro";
import Select from "../../../components/Select.astro";
import Textarea from "../../../components/Textarea.astro";
import { db } from "../../../db";
import Default from "../../../layouts/Default.astro";
import {
  formDate,
  formNumber,
  formNumberList,
  formString,
  stringToDate,
} from "../../../lib/query";
import { getProject } from "../../../models/project";
import { createProject, updateProject } from "../../../models/project";
import { getResearchers } from "../../../models/researcher";

const { id } = Astro.params;
const projectId = parseInt(id as string);
const currentProject = await getProject(db, projectId);

if (!currentProject) {
  Astro.response.status = 404;
  return;
}

const errors: Record<string, string> = {};
let input: {
  creator?: number;
  title?: string;
  start_date?: Date;
  end_date?: Date;
  collaborators?: number[];
  description?: string;
} = {
  creator: currentProject.creatorId,
  title: currentProject.title,
  start_date: stringToDate(currentProject.startDate),
  end_date: stringToDate(currentProject.endDate),
  collaborators: currentProject.researchers.map((c) => c.researcherId),
  description: currentProject.description || undefined,
};

switch (Astro.request.method) {
  case "POST":
    const f = await Astro.request.formData();
    input = {
      creator: formNumber(f, "creator"),
      title: formString(f, "title"),
      start_date: formDate(f, "start_date"),
      end_date: formDate(f, "end_date"),
      collaborators: formNumberList(f, "collaborators[]"),
      description: formString(f, "description"),
    };

    if (
      input.end_date &&
      input.start_date &&
      input.start_date > input.end_date
    ) {
      errors.end_date = "Data de término deve ser posterior à data de início.";
      break;
    }

    try {
      await updateProject(db, projectId, {
        title: input.title,
        startDate: input.start_date,
        endDate: input.end_date,
        idCollaborators: input.collaborators,
        description: input.description,
      });

      return Astro.redirect(`/projetos/${projectId}`, 303);
    } catch (error) {
      console.error(error);

      errors.generic =
        "Erro ao editar projeto! Confira os dados e tente novamente.";
    }
    break;

  default:
    break;
}

const researchers = await getResearchers(db, {});
---

<Default title="Editar projeto">
  <main>
    <Container class="py-6">
      <Link href="/projetos" class="text-blue-600">&lt; Voltar</Link>
      <h2 class="text-2xl font-bold">Editar projeto</h2>
      <form
        enctype="multipart/form-data"
        action=""
        method="post"
        class="max-w-lg mx-auto space-y-4"
      >
        <Labelled name="title" label="Título">
          <Input type="text" name="title" value={input.title} />
        </Labelled>
        <Labelled name="start_date" label="Data de Início">
          <Input
            type="date"
            name="start_date"
            value={input.start_date?.toISOString().split("T")[0]}
          />
        </Labelled>
        <Labelled name="end_date" label="Data de Término">
          <Input
            type="date"
            name="end_date"
            value={input.end_date?.toISOString().split("T")[0]}
          />
          {errors.end_date && <p class="text-red-600">{errors.end_date}</p>}
        </Labelled>
        <Labelled name="collaborators[]" label="Colaboradores">
          <template id="collab_template">
            <div class="flex gap-2 group/control">
              <Select name="collaborators[]">
                <option value="">Selecione um pesquisador</option>
                {
                  researchers.map((researcher) => (
                    <option value={researcher.id}>{researcher.name}</option>
                  ))
                }
              </Select>
              <button
                class="group"
                type="button"
                onclick="this.closest('div').remove();"
              >
                <Button variant="destructive" size="sm">-</Button>
              </button>
            </div>
          </template>
          <div id="collab_list" class="space-y-2">
            {
              input.collaborators?.map((collabId) => (
                <div class="flex gap-2 group/control">
                  <Select name="collaborators[]">
                    <option value="">Selecione um pesquisador</option>
                    {researchers.map((researcher) => (
                      <option
                        value={researcher.id}
                        selected={researcher.id === collabId}
                      >
                        {researcher.name}
                      </option>
                    ))}
                  </Select>
                  <button
                    class="group"
                    type="button"
                    onclick="this.closest('div').remove();"
                  >
                    <Button variant="destructive" size="sm">
                      -
                    </Button>
                  </button>
                </div>
              ))
            }
          </div>
          <button
            class="group mt-2 w-full"
            type="button"
            onclick="
            const collabList = document.getElementById('collab_list');
            const select = document.getElementById('collab_template').content.cloneNode(true).querySelector('div');
            collabList.appendChild(select);
          "
          >
            <Button variant="outline" size="sm">+ Adicionar pesquisador</Button>
          </button>
        </Labelled>
        <Labelled name="description" label="Descrição">
          <Textarea rows="8" name="description" value={input.description} />
        </Labelled>

        <button type="submit" class="group"><Button>Enviar</Button></button>
      </form>
    </Container>
  </main>
</Default>
